/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --bg-color: hsl(220, 18%, 78%);
  --bg-color-light: hsl(220, 18%, 86%);
  --title-color: hsl(220, 8%, 10%);
  --text-color: hsl(220, 4%, 32%);
  --text-color-light: hsl(220, 4%, 55%);
  --body-color: hsl(220, 18%, 99%);
  --container-color: hsl(220, 18%, 97%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: 'Lora', serif;

  --biggest-font-size: 2.25rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/* Responsive typography */
@media screen and (min-width: 1124px) {
  :root {
    --biggest-font-size: 4.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1, h2, h3 {
  color: var(--title-color);
  font-weight: var(--font-medium);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*=============== FORM CSS ===============*/

form{
  background: rgba(199, 199, 199, 0.8);
  width: 640px;
  margin: 50px auto;
  max-width: 97%;
  border-radius: 4px;
  padding: 55px 30px;
}

form .title h2{
  letter-spacing: 6px;
  border-bottom: 1px solid white;
  display: inline-block;
  padding-bottom: 8px;
  margin-bottom: 32px;
}

form .half{
  display: flex;
  justify-content: space-between;
}

form .half .item{
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
  width: 48%;
}

form label{
  display: block;
  font-size: 13px;
  letter-spacing: 3.5px;
  margin-bottom: 16px;
}

form .half .item input{
  border-radius: 4px;
  border: 1px solid white;
  outline: 0;
  padding: 16px;
  width: 100%;
  height: 44px;
  background: transparent;
  font-size: 17px;
}

form .full{
  margin-bottom: 24px;
}

form .full textarea{
  background: transparent;
  border-radius: 4px;
  border: 1px solid white;
  outline: 0;
  padding: 12px 16px;
  width: 100%;
  height: 200px;
  font-size: 17px;
}

form .action{
  margin-bottom: 32px;
}

form .action input{
  background: transparent;
  border-radius: 4px;
  border: 1px solid white;
  cursor: pointer;
  font-size: 13px;
  font-weight: 600;
  height: 44px;
  letter-spacing: 3px;
  outline: 0;
  padding: 0 20px 0 22px;
  margin-right: 10px;
}

form .action input[type="submit"]{
  background: white;
  color: black;
}

form .icons a{
  border: 1px solid white;
  border-radius: 50%;
  line-height: 36px;
  text-align: center;
  font-weight: 600;
  width: 38px;
  margin-right: 10px;
}

form .half .item input:focus, form .full textarea:focus, form .action input[type="reset"]:hover, form .icons a:hover{
  background: rgba(255,255,255,0.075);
}

@media (max-width: 480px){
  form .half{
    flex-direction: column;
  }
  form .half .item{
    width: 100%;
  }
  form .action{
    display: flex;
    flex-direction: column;
  }
  form .action input{
    margin-bottom: 10px;
    width: 100%;
  }
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1024px;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}

.grid {
  display: flex;
  gap: 1.5rem;
}

.section {
  padding: 4.5rem 0 2rem;
}

.section__title {
  font-size: var(--h1-font-size);
  text-align: center;
  margin-bottom: 3rem;
}

.main {
  overflow: hidden;
}

/*=============== HEADER & NAV ===============*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  z-index: var(--z-fixed);
  transition: .4s;
}

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  color: var(--title-color);
  font-weight: var(--font-medium);
}

@media screen and (max-width: 1023px) {
  .nav__menu {
    position: fixed;
    bottom: 1.5rem;
    background-color: var(--body-color);
    box-shadow: 0 4px 12px hsla(220, 18%, 40%, .15);
    width: 90%;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 1.25rem 2.8rem;
    border-radius: .5rem;
  }
  .nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav__link {
    color: var(--text-color-light);
    font-weight: var(--font-medium);
    display: grid;
    justify-items: center;
    row-gap: .25rem;
  }
  .nav__link i {
    font-size: 1.25rem;
  }
  .nav__link span {
    font-size: .688rem;
  }
}

/* Active link */
.active-link {
  color: var(--title-color);
}

/*=============== HOME ===============*/
.home {
  background-color: #FAF7F3;
  overflow: hidden;
}

.home__container {
  padding: 4rem 0 1rem;
  row-gap: 8.5rem;
}

.home__title {
  font-size: var(--biggest-font-size);
  font-weight: 400;
}

.home__description {
  color: var(--title-color);
  margin: 1rem 0 2rem;
}

.home__title, 
.home__description {
  line-height: 140%;
}

.home__images {
  position: relative;
  width: 310px;
  justify-self: center;
}

.home__images img:nth-child(1) {
  width: 224px;
  position: absolute;
  right: -1.5rem;
  top: -9.5rem;
}

.home__images img:nth-child(2) {
  width: 180px;
  margin-left: .5rem;
  position: relative;
}

/*=============== BUTTON ===============*/
.button__link {
  color: var(--title-color);
  font-weight: var(--font-medium);
  display: inline-flex;
  align-items: center;
  column-gap: .5rem;
}

.button__link i {
  font-size: 1rem;
  transition: .3s;
}

.button__link:hover i {
  transition-duration: 0.4s;
  cursor: pointer;
  color: #EC9900;
}

/*=============== NEW ===============*/
.new__container {
  row-gap: 2.5rem;
  padding-bottom: 1.5rem;
}

.new__card {
  justify-self: center;
}

.new__img {
  width: 270px;
  margin-bottom: 1rem;
}

.new__link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--title-color);
  padding-right: .75rem;
}

.new__link i {
  font-size: 1.25rem;
  transition: .3s;
}

.new__title {
  font-size: var(--h2-font-size);
  margin-bottom: .5rem;
}

.new__subtitle {
  font-size: var(--smaller-font-size);
  color: var(--text-color);
}

.new__link:hover i {
  transition-duration: 0.4s;
  cursor: pointer;
  color: #EC9900;
}

/*=============== COLLECTION ===============*/
.collection {
  background-color: #FAF7F3;
  overflow: hidden;
}

.collection__container {
  position: relative;
  height: 571px;
  display: grid;
  justify-items: center;
}

.collection__title {
  font-size: var(--h1-font-size);
  margin-bottom: .75rem;
}

.collection__explore {
  display: grid;
  column-gap: 2rem;
  position: absolute;
}

.collection__explore:nth-child(2) {
  grid-template-columns: 230px max-content;
  bottom: 1rem;
  margin-right: 5rem;
}

.collection__explore:nth-child(1) {
  grid-template-columns: max-content 230px;
  top: 0;
  margin-left: 5rem;
}

.collection__data-men {
  margin-top: 2.5rem;
}

.collection__data-women {
  align-self: flex-end;
  margin-bottom: 2.5rem;
}

/*=============== PRODUCTS ===============*/
.products__container {
  padding-bottom: 5rem;
}

.products__card {
  width: 270px;
}

.products__img {
  margin-bottom: 1rem;
}

.products__title {
  font-size: var(--h3-font-size);
  margin-bottom: .75rem;
}

.products__price {
  color: var(--title-color);
  font-weight: var(--font-medium);
}

/*=============== BRANDS ===============*/
.brand__container {
    grid-template-columns: repeat(2, max-content);
    justify-content: center;
    column-gap: 1.25rem;
}

.brand__img {
    width: 120px;
}

.brand__img:nth-child(even) {
    margin-top: 2rem;
}

/*=============== Product CSS ===============*/
.wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.wrapper .img{
  margin: 30px;
  width: 30%;
}

.wrapper .img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.wrapper .info{
  width: 25%;
  margin: 30px;
  height: 80%;
  color: #444;
}

.info h2,p, .size, .quantity, .cart, .buy{
  padding: 15px;
}

.info h2{
  margin-top: 100px;
  font-size: 35px;
  font-weight: 900;
}

.info p{
  font-size: 16px;
}

/*= Size Select =*/
.size{
  width: 100%
}

.size .select{
  display: flex;
  height: 55px;
  border: 1px solid #444;
  padding: 20px;
  cursor: pointer;
  align-items: center;
  justify-content: space-between;
}

.size .option-list{
  position: relative;
  padding: 20px;
  margin-top: 2px;
  background: #fff;
  border: 1px solid #444;
  display: none;
}

.size.click .option-list{
  display: block;
}

.option-list .option{
  position: relative;
  height: 55px;
  cursor: pointer;
  padding: 0 10px;
  align-items: center;
}

.option-list .option:hover{
  background: #eaeaea;
}

.quantity h3{
  margin-bottom: 10px;
  /* margin-top: 20px; */
}

.quantity input{
  padding: 20px;
  width: 100px;
  outline: none;
}

/* CART */
.cart{
  display: flex;
  align-items: center;
}

.cart button{
  width: 400px;
  height: 55px;
  cursor: pointer;
  background: #fff;
}

.cart i{
  display: flex;
  align-items: center;
  width: 80px;
  height: 55px;
  font-size: 30px;
  justify-content: center;
  margin-left: 10px;
  cursor: pointer;
}

.cart.liked i{
  color: red;
}

/* BUY */
.buy button{
  height: 55px;
  width: 100%;
  font-size: 20px;
  background: #222;
  color: #fff;
  cursor: pointer;
}



/*=============== FOOTER ===============*/
.footer__container {
    row-gap: 8rem;
}

.footer__logo {
    color: var(--title-color);
    font-size: var(--h2-font-size);
    font-weight: var(--font-medium);
    display: inline-block;
    margin-bottom: .75rem;
}

.footer__content,
.footer__links {
    display: grid;
}

.footer__content {
    grid-template-columns: repeat(2, max-content);
    gap: 3.5rem 3rem;
}

.footer__title {
    font-size: var(--h3-font-size);
    margin-bottom: 1.25rem;
}

.footer__links {
    row-gap: .75rem;
}

.footer__link,
.footer__information {
    font-size: var(--small-font-size);
}

.footer__link {
    color: var(--text-color);
    transition: .3s;
}

    .footer__link:hover {
        text-decoration: underline;
        color: var(--title-color);
    }

.footer__social {
    display: flex;
    column-gap: .5rem;
}

.footer__social-link {
    display: inline-flex;
    color: var(--title-color);
    padding: .4rem;
    background-color: var(--container-color);
    font-size: 1.25rem;
    transition: background-color .3s;
}

    .footer__social-link:hover {
        background-color: var(--bg-color-light);
    }

.footer__info {
    
 
    margin-top: auto;

    padding-bottom: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: .75rem;
}

.footer__copy,
.footer__privacy {
    font-size: var(--smaller-font-size);
    color: var(--text-color-light);
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 340px) {
    .container {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .footer__content {
        grid-template-columns: max-content;
        row-gap: 2rem;
    }

    .nav__menu {
        padding: 1rem 1.5rem;
    }

    .home__container {
        padding: 2rem 0 1rem;
        row-gap: 6rem;
    }

    .home__description {
        font-size: var(--small-font-size);
    }

    .home__images {
        width: 248px;
    }

    .new__img {
        width: 230px;
    }

    .new__link {
        padding-right: 0;
    }
    /* 
  .collection__explore:nth-child(1), 
  .collection__explore:nth-child(2) {
    position: initial;
    grid-template-columns: 230px;
    row-gap: 2rem;
    margin: 0;
  }
  .collection__container {
    height: initial;
    row-gap: 3rem;
  }
  .collection__data-men {
    margin-top: 0;
  }
  .collection__data-women {
    margin-bottom: 0;
  } */

    .products__card {
        width: 230px;
    }

    .brand__container {
        grid-template-columns: repeat(2, 100px);
        row-gap: .5rem;
    }
}

/* For medium devices */
@media screen and (min-width: 576px) {
    .nav__menu {
        width: 342px;
    }

    .footer__content {
        grid-template-columns: repeat(3, max-content);
    }
}

@media screen and (min-width: 767px) {
    .home__container,
    .new__container {
        grid-template-columns: repeat(2, max-content);
        justify-content: center;
    }

    .home__images {
        margin-top: 6rem;
    }

    .brand__container {
        grid-template-columns: repeat(4, max-content);
    }

    .footer__container {
        grid-template-columns: repeat(2, max-content);
        justify-content: space-between;
    }
}

/* For large devices */
@media screen and (min-width: 1023px) {
    .section {
        padding: 7rem 0 1rem;
    }

    .section__title {
        margin-bottom: 4rem;
    }

    .nav {
        height: calc(var(--header-height) + 1.5rem);
    }

    .nav__menu {
        width: initial;
        margin-left: auto;
    }

    .nav__list {
        display: flex;
        column-gap: 3rem;
    }

    .nav__link {
        color: var(--text-color);
        font-weight: var(--font-medium);
        transition: .3s;
    }

        .nav__link i {
            display: none;
        }

        .nav__link:hover {
            color: var(--title-color);
        }

    .active-link {
        color: var(--title-color);
        text-decoration: line-through;
    }

    .products__container {
        width: 954px;
    }

    .footer__content {
        grid-template-columns: repeat(4, max-content);
        column-gap: 5.5rem;
    }

    .footer__link {
        font-size: var(--normal-font-size);
    }

    .footer__info {
        padding-bottom: 2rem;
        row-gap: 1rem;
    }
}

@media screen and (min-width: 1054px) {
    .container {
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 1124px) {
    .home__container {
        padding: 10rem 0 3rem;
        column-gap: 0;
    }

    .home__images {
        width: 500px;
        margin-top: 8rem;
        transform: translate(-1rem);
    }

        .home__images img:nth-child(1) {
            width: 345px;
            top: -14.5rem;
        }

        .home__images img:nth-child(2) {
            width: 277px;
        }

    .new__container {
        grid-template-columns: repeat(3, max-content);
        padding-bottom: 4.5rem;
        gap: 4.5rem;
    }

    .new__img {
        margin-bottom: 1.25rem;
    }

    .new__title {
        font-size: var(--h3-font-size);
    }

    .collection__container {
        height: 680px;
        margin-bottom: 2rem;
    }

    .collection__explore:nth-child(1) {
        grid-template-columns: max-content 330px;
        margin-left: 10rem;
    }

    .collection__explore:nth-child(2) {
        grid-template-columns: 330px max-content;
        margin-right: 10rem;
    }

    .collection__explore {
        column-gap: 5rem;
    }

    .products__container {
        padding-bottom: 7rem;
    }

    .brand__container {
        column-gap: 5.5rem;
    }

    .brand__img {
        width: 140px;
    }
}

/* For 2K resolutions (2048 x 1152, 2048 x 1536) */
@media screen and (min-width: 2048px) {
    body {
        zoom: 1.3;
    }
}

/* For 4K resolutions (3840 x 2160, 4096 x 2160) */
@media screen and (min-width: 3840px) {
    body {
        zoom: 2.3;
    }


}

/* CSS For Checkout*/
* {
    font-family: 'Poppins', sans-serif;
}


hr {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, #464748, #8c8b8b, #464748);
    background-image: -moz-linear-gradient(left, #464748, #8c8b8b, #464748);
  
    background-image: -o-linear-gradient(left, #464748, #8c8b8b, #464748);
}

/* Product page
----------------------------*/
.product_wrap {
    width: 100%;
    position: relative;
    overflow: hidden;
    padding-left: 8px;
}

.product_arrow {
    position: absolute;
    left: 157px;
    bottom: 37px;
}

.triangle-left {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-right: 15px solid #464748;
    border-bottom: 10px solid transparent;
}

.product_main {
    position: relative;
    width: 100%;
}

    .product_main img {
        width: 100%;
    }

.product_title {
    padding-bottom: 10px;
    margin: 0px;
    font-size: 1.1em;
    font-weight: 400;
    color: #464748;
}

.product_desc {
    margin: 0px;
    color: #717375;
    font-size: 12px;
}

.product_price {
    
    color: #464748;
}


/* CHECKOUT CSS
----------------------------*/
.checkout {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* container size for checkout window
----------------------------*/
.checkout_wrap {
    width: 300px;
    height: 300px;
    background-color: #F7E4AA;
    border-radius: 5px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3);
    position: relative;
    
}
/* Black field information entry CSS
----------------------------*/
.checkout_details {
    height: auto;
    padding: 10px;
    border-radius: 0px 5px 5px 0px;
    background-color: #464748;
    position: relative;
    height: 100%;

    box-sizing: border-box;
}

.checkout_title {
    margin: 0px;
    padding: 10px 0px;
    font-size: 1.1em;
    font-weight: 400;
    color: #fff;
}

.checkout_form {
    width: 100%;
    position: relative;
    overflow: hidden;
    padding: 10px 0px;
}

    .checkout_form input {
        width: 100%;
        height: auto;
        padding: 8px 10px;
        margin: 8px 0px;
        font-size: 14px;
        border: none;
        border-bottom: 1px solid #717375;
        background-color: transparent;
        color: #F7E4AA;
        box-sizing: border-box;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.020);
        font-family: 'Poppins', sans-serif;
    }

        .checkout_form input:focus {
            outline-width: 0;
        }

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #9e9e9e;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #717375;
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: #717375;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: #717375;
}

.checkout_pay {
    width: 100%;
    height: auto;
    padding: 8px 10px;
    margin: 8px 0px;
    border: none;
    background-color: #F7E4AA;
    color: #2a2a2a;
    border-radius: 3px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
}